.header {
  background: white;
  width: 100vmax;
  /* margin-top: 5px; */
  padding-bottom: 103px;
  padding-top: 5px;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 3%;
  list-style: none;
  width: 88%;
  color: #828282;
}

a {
  text-decoration: none;
  color: #828282;
}

a:hover {
  color: #070707;
}

hr {
  /* position: inherit; */
  border: 0.5px solid #828282;
  margin-top: 25px;
  margin-left: 251px;
  background-color: #828282;
  width: 61%;
}

h1 {
  font-weight: 700;
  font-size: 47.34px;
  margin-top: 55px;
  margin-left: 247px;
  /* margin-right: 81px; */
  font-style: normal;
}
