@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy Bold'), local('Gilroy-Bold'),
    url('../fonts/Gilroy-Bold.woff2') format('woff2'),
    url('../fonts/Gilroy-Bold.woff') format('woff'),
    url('../fonts/Gilroy-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: Open Sans, sans-serif;
  color: #070707;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 24.51px;
  margin: 0px;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
}

.header {
  width: 937px;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 43px;
  list-style: none;
  margin-right: 30px;
  color: #828282;
}

a {
  text-decoration: none;
  color: #828282;
}

a:hover {
  color: #070707;
}

hr {
  border: 0.5px solid #828282;
  margin-top: 25px;
  background-color: #828282;
}

h1 {
  font-weight: 700;
  font-size: 47.34px;
  margin-top: 50px;
  font-style: normal;
}

.mainphoto {
  display: flex;
  width: 943.61px;
  height: 387px;
  margin-top: 55px;
}

.sections {
  display: flex;
  flex-direction: column;
  width: 100vmax;
}

.section:first-child {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: 100px;
  background-color: #F6F6F6;
  padding-top: 100px;
  padding-bottom: 60px;
  line-height: 30px;
  color: #000000;
}

h2 {
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 5px;
}


.section:nth-child(2) {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 45px;
  text-align: center;
  line-height: 55px;
  color: #000000;
}

.icons {
  font-family: "Gilroy", sans-serif;
  font-size: 14px;
  line-height: 17.33px;
  color: #828282;
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 173px;
  margin-right: 40px;
  margin-top: 50px;
}

.icon-block {
  width: 166.46px;
  height: 223.74px;

}

.section:nth-child(3) {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: 100px;
  background-color: #F6F6F6;
  padding-top: 100px;
  padding-bottom: 60px;
  line-height: 30px;
  color: #000000;
}
